
.scene {
	position: relative;
	padding-top: 20px;

	article {
		@include container(95%);
	} //article

	@include breakpoint($wide) {
		padding: 40px 0;
	} //breakpoint

	@include breakpoint($medium) {
		article {
			@include container;
		} //article
	} //breakpoint
} //scene

